html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body{
	background-color:#35363A;
	margin: 0px;
	padding: 0px;
	transition:all 0.3s ease;
}
button{
	background-color: #2a2b2e;
	color:#adb3cf;
	border: 0px;
	border-radius: 10px;
	padding: 8px 30px;
	font-size: 18px;
	outline:none;
}
button:active{
	background-color:#4c4d52;
}
input{
	background-color: #ffffff;
	border: 2px solid rgb(189, 189, 189);
	border-radius: 15px;
	padding: 10px;
	width: 200px;
	color:rgb(0, 0, 0);
	margin: 0px 20px;
	outline:none;
	font-size: 15px;
}
.divBody{
    background-color: #d4d4d4;
    max-width: 1000px;
    min-height: 300px;
    border-radius: 10px;
    flex-direction: column;
	display: flex;
    align-items: center;
    padding: 40px;
	margin: 50px auto 30px;
	border: 0.5px solid rgb(175, 175, 175);
	box-shadow: 0.4em 0.4em 10px rgba(95, 95, 95, 0.5);
}
.topic{
	position: fixed;
	right: 10px; 
	top: 10px;
}
.topic >div{
	background-color: white;
	border: 1px solid rgb(143, 143, 143);
	border-radius: 50%;
	padding: 5px;
	height: 25px;
};