<!DOCTYPE html>
<html lang="ru">

<head>
    <script src="https://unpkg.com/vue"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />

    <title>{{title}}</title>
</head>

<body>

    <div class="topic" id="topic">
        <div @click="dark" v-if="Vis"><img src="{{ url_for('static', filename='img/dark.png')}}" draggable="false"></div>
        <div @click="light" v-if="Scr"><img src="{{ url_for('static', filename='img/light.png')}}" draggable="false"></div>
    </div>

    <div class="divTop">
        <a href="http://127.0.0.1:5000/pub">Публичные ссылки</a>
        <a href="http://127.0.0.1:5000/private">Приватные ссылки</a>
        <a class="exit" href="http://127.0.0.1:5000/exit">Выход</a>
    </div>

    <div class="divBody">
        <h2>Добавить публичную ссылку</h2>
        <div>
            <form method="POST" action="http://localhost:5000/addPub">
                <div>
                  <label>
                    <span>Ссылка</span><input required type="text" name="url">
                  </label>
                  <button type="submit">Сократить</button>
                </div>
              </form>
              <hr>
        </div>
        <div class="divURL">
            <div>
                <h2>Публичные ссылки</h2>
                {% for url in urlAll %}
                <p>id -{{url[0]}} <a href='{{url[1]}}'>{{url[1]}}</a></p>
                 {% endfor %}
            </div>
            <div>
                <h2>Ваши публичне ссылки</h2>
                {% for url in URLuser %}
                <p>id -{{url[0]}} <a href='{{url[1]}}'>{{url[1]}}</a></p>
                 {% endfor %}
            </div>
            <div>
                <h2>Удалить</h2>
                {% for url in URLuser %}
                <form method="POST" action="http://localhost:5000/delPub">
                <p><button type="submit" name="id" value='{{url[0]}}' class="del">X</button></p>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/Vue.js')}}"></script>
</body>

</html>